@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

.interval-modal{
    
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    
}

.interval-flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contenido-modal-intervals{
    position: relative;
    background-color: rgb(34, 32, 32);
    margin: auto;
    width: 70%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
    font-family: Montserrat;
    color: rgb(212, 161, 141);
    animation-name: modal;
    animation-duration: 2s;
    border: 1px solid rgb(77, 73, 73);
    border-radius: 15px;
    
}
    
    

@keyframes modal{
    from{top:-33px; opacity: 0;}
    to{top: 0; opacity: 1;}
}

.close{
    font-size: 30px;
    font-weight: bold;
}

.close:hover {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.interval-modal-header{
   
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px;
    background-color: #272727;
    border-radius: 15px 15px 0 0 ;
}

.interval-modal-body{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    padding: 15px;
}


    


.interval-modal-buttons{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
    
   


.interval-modal-button{
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bolder;
    background-color: grey;
    border: 1px solid #404040;
    border-radius: 10px;
    color:white;
    padding: 7px 10px;
    margin: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
}
