@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

label{
    position: sticky;
    z-index: 2;
    top: 30px;
    left: 30px;
}

@media (max-width: 800px) {

    label{
        position: sticky;
        z-index: 1;
        top: 5%;
        left: 8%;
    }

    .headerMenu{
        display:flex;
        justify-content: center;
        align-items: left;
    }


}


.free-space{
    height: 60px;
}

#check{
    display: none;
    
}

#icon-id{
    position: absolute;
    z-index: 40;
    left: 20px;
}

#check:checked  ~ .menu{
   width: 300px;
}

.menu{
    position: absolute;
    top: -5px;
    left: -2px;
    color: white;
    width: 0px;
    height: 105vh;
    background-color: rgb(34, 32, 32);
    overflow: auto;
    transition: all 300ms cubic-bezier(0.5, 0, 0, 1);
    border-radius: 0  7px 7px 0;
    border: 1px solid rgb(77, 73, 73);
    z-index: 2;   
}

.menu::-webkit-scrollbar {
    width: 12px;               
}
.menu::-webkit-scrollbar-track {
    background: #272727;        
}
  
.menu::-webkit-scrollbar-thumb {
    background-color:  #404040;    
    border-radius: 20px;       
    border: 3px solid #272727; 
}
    
.closeMenu{
    position: absolute;
    width: 375px;
    text-align: right;
    font-size: 26px;
    font-weight: bold;
    font-family: helvetica;
}

.closeMenu:hover {
    cursor: pointer;
    color: grey;
}



.menu li{
    list-style: none;
    margin-top: 15px;
    padding: 15px;
    cursor: pointer;
    transition: all 300ms;
    color: rgb(212, 161, 141);
    font-family: Montserrat;
    margin-left: 20px;
    display: block;
    width: 90%;
    
}

.menu li:hover{
    background: rgba(0,0,0,0.3);
}    

.menuTitles{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: rgb(100, 100, 100);
    padding-top: 15px;
    letter-spacing: 3px;
    padding-left: 35px;
}

#bells_info{
    margin-top: 3px;
    margin-left: 25px;
    width: 85%;
    height: 20%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    overflow:auto;
}

#bells_info p{
    font-family: 'Montserrat';
    font-size: 13px;
    padding: 5px;
    margin: 10px;
    color:rgb(212, 161, 141);
}
#bells_info::-webkit-scrollbar {
    width: 12px;               
}
#bells_info::-webkit-scrollbar-track {
    background: #272727;        
}
  
#bells_info::-webkit-scrollbar-thumb {
    background-color:  #404040;    
    border-radius: 20px;       
    border: 3px solid #272727; 
}

#info {
    margin-top: 3px;
    margin-left: 25px;
    width: 85%;
    height: 40%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    overflow:auto;
    
}
#info::-webkit-scrollbar {
    width: 12px;               
}
#info::-webkit-scrollbar-track {
    background: #272727;        
}
  
#info::-webkit-scrollbar-thumb {
    background-color:  #404040;    
    border-radius: 20px;       
    border: 3px solid #272727; 
}

#info p{
    font-family: 'Montserrat';
    font-size: 13px;
    padding: 5px;
    margin: 10px;
    color:rgb(212, 161, 141);
}