@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

.interval-modal{
    
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    
}

.interval-flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contenido-modal-intervals{
    position: relative;
    background-color: rgb(34, 32, 32);
    margin: auto;
    width: 60%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
    font-family: Montserrat;
    color: rgb(212, 161, 141);
    animation-name: modal;
    animation-duration: 2s;
    border: 1px solid rgb(77, 73, 73);
    border-radius: 15px;
    max-height: 100vh;
    
}


    
    

@keyframes modal{
    from{top:-33px; opacity: 0;}
    to{top: 0; opacity: 1;}
}

.close{
    font-size: 30px;
    font-weight: bold;
}

.close:hover {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.interval-modal-header{
   
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px;
    background-color: #272727;
    border-radius: 15px 15px 0 0 ;
}

.interval-modal-body{
    padding: 15px;
    
    
}

.warmup-modal-body{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

#selectWuTime {
    padding: 10px 15px;
    margin-right: 35px;
}

#warmup-time{
    min-width: 150px;
}

hr{
  border: 1px solid #353535; 
  margin-bottom: 15px; 
}

.interval-modal-buttons{ 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    
}
    
.interval-modal-button{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bolder;
    background-color: transparent;
    border: 1px solid #404040;
    border-radius: 10px;
    color:white;
    padding:15px 10px;
    text-align: center;
    text-decoration: none;
    outline: none;
}

.add-interval-button{
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bolder;
    background-color: transparent;
    border: 1px solid #404040;
    border-radius: 10px;
    color:white;
    padding:10px 10px;
    text-align: center;
    text-decoration: none;
    outline: none;
    margin: 20px;
}

    
    
.interval-section{
    display: flex;
    
    justify-content: flex-start;
   
}

#interval_container::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
#interval_container::-webkit-scrollbar-track {
    background: #272727;        /* color of the tracking area */
}
  
#interval_container::-webkit-scrollbar-thumb {
    background-color:  #404040;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #272727;  /* creates padding around scroll thumb */
}

.interval-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;

}
#interval_container{
    max-height: 250px;
    overflow:auto;
    width: 350px;
}
#everyMinutes, #afterMinutes{
    width: 50px;
    background-color: #272727;
    color: rgb(212, 161, 141);
}
    

@media (max-width: 800px){
    .contenido-modal-intervals{
        width: 90%;
    }
    .warmup-modal-body{
        flex-direction: row;
        max-width: 80%;
        justify-content: initial;
    }
    
}
