
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background-color: black;
}



section{
    height: 100vh;
    position: relative;
}
    
.video{
    display: block;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: black;
    z-index: -1;
} 

.videoMovile{

    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -20;
} 



.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
}

.headerMenu{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
}    
    
#title{
    font-family: Montserrat;
    color: rgb(212, 161, 141);
    font-size: 25px;
    letter-spacing: 25px;
}
    
#subtitle{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: rgb(100, 100, 100);
    padding-top: 10px;
    letter-spacing: 5px;
}
    
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48vh;
    width: 100%;
}
    
#minutes, #dots, #seconds{
    font-family: Montserrat;
    color: rgb(212, 161, 141);
    font-size: 25px;
    letter-spacing: 15px;
    
    padding-left: 22px;
}


.buttonsZone{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    height: 33vh;
    width: 100%;
    z-index: 0;
    
}
    
.buttons{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bolder;
    background-color: transparent;
    border: 1px solid #404040;
    border-radius: 10px;
    color:grey;
    padding: 8px 20px;
    margin: 5px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
}
    

.fs{
    display: flex;
    justify-content: flex-end;
    width: 99vw;
    
}

.warmup-container{

    position: absolute;
    display: none;
    flex-direction: row;
    justify-content: center;
    top: 18%;
    height: 5vh;
    width: 100%;
    z-index: -1;
    
}

#warmup-title, #warmup-minutes, #warmup-dots, #warmup-seconds {
    font-family: Montserrat;
    color: rgb(100, 100, 100);
    font-size: 13px;
    padding-top: 70px;
}

#warmup-minutes, #warmup-dots, #warmup-seconds {
    letter-spacing: 5px;
    font-size: 15px;
}

.bells_mesage{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15px;  
    top: 70%;
    max-height: 5vh;
    width: 100%;
    z-index: -1;
    color: rgb(100, 100, 100);
    font-family: Montserrat;
    font-size: 12px;
}


#mesage, #every_bells{
    color: rgb(212, 161, 141);
    font-family: Montserrat;
    font-size: 12px;
}

/* ----------------------------------- */
@media (max-width: 800px) { 

    .video{
        display: none;
    }
    .videoMovile{
        display: block;
    }

    .header{
        /* height: 25vh; */
        display: none;
        
    }

    

    #title{
        font-size: 20px;
        padding-left: 15px;
        letter-spacing: 20px;
    }

    #subtitle{
        padding-left: 15px;
    }

    .container{
        padding-left: 20px;
    }

    #minutes, #dots, #seconds{
        font-family: Montserrat;
        color:  rgb(161, 121, 105);
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 25px;
        padding-top: 70px;
        
    }
    .warmup-container{
        
        top: 5%; 
        padding-left: 17px;   
    }

    .buttons{
        
        border: 1px solid #404040;
        color:grey; 
    }

    .container{
        height: 40vh;
    }

    .fs{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 99vw;
    }
}  