
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');


body{
    background-color: #141414;
    overflow: hidden;
    
}

#videoBG{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;  
}   


.header{
   position: fixed;
   text-align: center;
   width: 100%;
   
}

#title{
    font-family: Montserrat;
    color: rgb(216, 211, 187);
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 25px;  
}

#subtitle{
    font-family: Helvetica;
    color: rgb(151, 150, 146);
    font-weight: 100;
    font-size: 19px;
    letter-spacing: 7px;
       
}

.marc{
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding-top: 250px;
}
   
#minutes, #dots, #seconds{
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(216, 211, 187);
    font-family: Montserrat;
    letter-spacing: 10px;
}

.timerControl{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.timerButtons{ 
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: rgb(151, 150, 146);
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    font-family: Helvetica;
    height: 15px;
    width: 40px;
    font-weight: bold;
    outline: none;
}
    
.buttonsZone{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;   
}



.buttons{
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: rgb(151, 150, 146);
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    margin: 5px;
    font-family: Helvetica;
    font-weight: bold;
    outline: none;
} 