
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}

section{
    height: 100vh;
  background-image: url('src/new_background.jpg');
  background-size: cover;
  
}

    
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 33vh;
    width: 100%;
    
}
#title{
    font-family: Montserrat;
    color: rgb(182, 145, 130);
    font-size: 50px;
    letter-spacing: 35px;
    
}
#subtitle{
    font-family: sans-serif;
    font-weight: lighter;
    color: grey;
    padding-top: 10px;
    letter-spacing: 5px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 33vh;
    width: 100%;
}

#minutes, #dots, #seconds{
    font-family: Montserrat;
    color: rgb(182, 145, 130);
    font-size: 50px;
    letter-spacing: 15px;

}
    

.buttonsZone{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 30vh;
    width: 100%;
    
}
.buttons{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    color: rgb(182, 145, 130);
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
}
    

.fs{
    display: flex;
    justify-content: flex-end;
    width: 99vw;
    
}
    