
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

#fondo{

    background: url(./src/Incense-Wallpaper.jpg) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; 
                background-size: 100% 100%;

}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

header{
    text-align: center;
    /* background-color: rgb(22, 21, 21); */
    padding-top: 50px;
}

.title{
    font-family: Helvetica;
    color: rgb(216, 211, 187);
    font-size: xx-large;
    margin-bottom: 1px;
}

.subtitle{

    font-family:'Unica One', monospace;
    color: rgb(151, 150, 146);
    font-weight: 100;
    font-size: 19px;
    word-spacing: 10px;
    margin: 2px;
    padding-bottom: 100px;

}

body{
    background-color: rgb(22, 21, 21);
}
.timer{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(216, 211, 187);
    font-family: Helvetica;
    

}

#minutes, #dots, #seconds{

    padding-bottom: 100px;
    
}

.add{

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.timerButtons{

    background-color: rgb(10, 10, 10);
    border: none;
    border-radius: 10px;
    color: rgb(151, 150, 146);
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    font-family: Helvetica;
    height: 40px;
    width: 40px;
    font-weight: bolder;
    font-size: large;
}


   



.buttonsZone{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.buttons
{
   
    background-color: rgb(10, 10, 10);
    border: none;
    border-radius: 10px;
    color: rgb(151, 150, 146);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    font-family: Helvetica;
} 