
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
    background-color: black;
}

section{
    height: 100vh;
    position: relative;
    
}
    
.video{
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    z-index: -1;
}   
    

    
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 33vh;
    width: 100%;
    
    
}
#title{
    font-family: Montserrat;
    color: rgb(182, 145, 130);
    font-size: 30px;
    letter-spacing: 25px;
    
    
    
}
#subtitle{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color: grey;
    padding-top: 10px;
    letter-spacing: 5px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 33vh;
    width: 100%;
}

#minutes, #dots, #seconds{
    font-family: Montserrat;
    color: rgb(182, 145, 130);
    font-size: 30px;
    letter-spacing: 15px;

}
    

.buttonsZone{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 30vh;
    width: 100%;
    
}
.buttons{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bolder;
    background-color: transparent;
    border: 1px solid #202020;
    border-radius: 10px;
    color:grey;
    padding: 10px 30px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
}
    

.fs{
    display: flex;
    justify-content: flex-end;
    width: 99vw;
    
}
    