
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }



header{
    text-align: center;
    /* background-color: rgb(22, 21, 21); */
    padding-top: 100px;
}


.title{
    font-family: Helvetica;
    color: rgb(216, 211, 187);
    font-size: 30px;
    word-spacing: 15px;
    margin-bottom: 1px;
}


.subtitle{
    font-family:'Unica One', monospace;
    color: rgb(151, 150, 146);
    font-weight: 100;
    font-size: 19px;
    letter-spacing: 3px;
    margin: 2px;
    padding-bottom: 100px;
}


body{
    background-color: rgb(22, 19, 19);
}


.timer{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(216, 211, 187);
    font-family: Helvetica;
    

}


#minutes, #dots, #seconds{

    padding-bottom: 100px;
    
}


.add{

    display: flex;
    flex-direction: row;
    justify-content: center;
}
    
    


.timerButtons{

    background-color: rgb(10, 10, 10);
    border: none;
    border-radius: 10px;
    color: rgb(151, 150, 146);
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    font-family: Helvetica;
    height: 35px;
    width: 35px;
    font-weight: bold;
    
}


.buttonsZone{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    
}


.buttons{
   
    background-color: rgb(10, 10, 10);
    border: none;
    border-radius: 10px;
    color: rgb(151, 150, 146);
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    margin: 5px;
    font-family: Helvetica;
    font-weight: bold;
    
} 

.fullButton{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    
}

.screenButton{

    background-color: rgb(10, 10, 10);
    border: none;
    border-radius: 10px;
    color: rgb(151, 150, 146);
    padding: 10px 15px;
    text-decoration: none;
    font-size: 10px;
    margin: 5px;
    font-family: Helvetica;
    font-weight: lighter;


}
